
<div class="header">

  <mat-grid-list cols="8" rowHeight="fit">
    <mat-grid-tile colspan="2" rowspan="3" class="text">
      <span [innerHTML]="world.money | bigvalue" ></span>$
      <div class="icon-money"></div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2" >
      <img [attr.src]="server+world.logo" class="tile-image"/>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="3" class="text">
      <div class="icon-score"></div>
      <span [innerHTML]="world.score | bigvalue" ></span>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" >
      <mat-form-field>
        <input matInput type="text"
        [(ngModel)]="username" (change)="onUsernameChanged()" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" >
      <span id="user" class="text-blue"> Chez {{user}} </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" >
      <button mat-raised-button class="text-jaune"  color="accent" (click)="clicMultipli()"> x{{qtMulti}} </button>
    </mat-grid-tile>

    
  </mat-grid-list>

<!--<div>
  <span [innerHTML]="world.money | bigvalue"></span>
</div>
<div>
  <img [attr.src]="server+world.logo" />
  <span id="user"> {{user}} </span>
</div>
<span id="worldname"> {{world.name}} </span>
<span><button (click)="clicMultipli()"> {{qtMulti}} </button></span>
<div>
  <input type="text"
       [(ngModel)]="username" (change)="onUsernameChanged()" />
</div>-->
</div>

<div class="main">
  <div class="body">
    <div class="head">
      <button mat-raised-button class="managerbutton text-rose width-200" color="primary" [matBadge]="badgeManagers"
              [matBadgeHidden]="badgeManagers==0" (click)="showManagers = !showManagers">Accès aux managers</button>
      <button mat-raised-button class="unlockbutton text-rose width-200" color="primary" [matBadge]="badgeUnlocks"
              [matBadgeHidden]="badgeUnlocks==0" (click)="showUnlocks = !showUnlocks">Accès aux unlocks</button>
      <button mat-raised-button class="upgradebutton text-rose width-200" color="primary" [matBadge]="badgeUpgrade"
              [matBadgeHidden]="badgeUpgrade==0" (click)="showUpgrade = !showUpgrade">Cash Upgrades</button>

      <div *ngIf="showManagers" class="modal">
        <div><h1 class="title text-blue"> Développe tes produits avec les managers !</h1></div>
        <div class="display-grid-3">
          <div *ngFor="let manager of world.managers.pallier" class="display-grid-3">
            <div *ngIf="!manager.unlocked" class="managerslayout">
              <!-- Faire une componnent pour le manager ? -->
              <div>
                <div class="logo"><img class="img-manager" [attr.src]="server+manager.logo" /> </div>
              </div>
              <div>
                <div class="managername text-jaune to-upper">  {{  manager.name}}</div>
                <div class="managercible text-jaune"> SECTEUR : {{ world.products.product[manager.idcible].name }} </div>
                <!--<div class="managername"> {{ manager}} </div>-->
                <div class="managercost text-jaune"> COUT : {{ manager.seuil}} </div>
              </div>
              <div>
                <button mat-raised-button color="primary" class="hirebutton text-rose" (click)="hireManager(manager)"
                    [ngClass]="{'selectable' : (world.money >= manager.seuil)}"> Engagée !</button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button mat-raised-button  color="accent"  class="closebutton text-jaune" (click)="showManagers = !showManagers">Close</button>
        </div>
      </div>

      <div *ngIf="showUnlocks" class="modal">
        <div><h1 class="title text-blue"> Soit encore plus performant avec les Unlocks !</h1></div>
        <div class="display-grid-3" >
          <div *ngFor="let unlock of world.allunlocks.pallier" class="unlocks">
            <div *ngIf="!unlock.unlocked" class="unlockslayout">
              <div>
                <div class="logo"><img class="img-unlock" [attr.src]="server+unlock.logo" /> </div>
              </div>
              <div>
                <div class="unlockname text-jaune to-upper"> {{  unlock.name}}</div>
                <div class="unlockseuil text-jaune "> COUT : {{ unlock.seuil}} </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button mat-raised-button  class="closebutton text-jaune" color="accent" (click)="showUnlocks = !showUnlocks"> FERMER </button>
        </div>
      </div>

      <div *ngIf="showUpgrade" class="modal">
        <div>
          <h1 class="title text-blue"> Soit encore plus performant avec les Upgrades !</h1>
        </div>
        <div class="display-grid-3">
          <div *ngFor="let upgrade of world.upgrades.pallier" class="unlocks">
            <div *ngIf="!upgrade.unlocked" class="upgradelayout">
              <div>
                <div class="logo"><img class="img-upgrade" [attr.src]="server+upgrade.logo" /> </div>
              </div>
              <div>
                <div class="upgradename text-jaune to-upper"> {{  upgrade.name}}</div>
                <div class="upgradeseuil text-jaune"> COÛT :  {{ upgrade.seuil}}$ </div>
                <div>
                  <button mat-raised-button class="hirebutton text-rose" color="primary" (click)="buyUpgrade(upgrade)"
                          [ngClass]="{'selectable' : (world.money >= upgrade.seuil)}"> J'achète l'upgrade !</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button mat-raised-button  class="closebutton text-jaune" color="accent" (click)="showUpgrade = !showUpgrade">FERMER</button>
        </div>
      </div>
    </div>

  <!--<div> liste des boutons de menu </div>-->
    <div class="display-grid-3">
      <div *ngFor="let product of this.world.products.product" class="content-grid">
        <app-product
          [prod]="product"
          class="product col-md-6"
          (notifyProduction)="onProductionDone($event)"
          (notifyPurchase)="onBuy($event)"
          [qtmulti]="qtMulti"
          [moneyWorld]="world.money"
        ></app-product>
      </div>
    </div>

  <!--<div class="product" >
    <app-product [prod]="world.products.product[0]"
                class="product col-md-6" (notifyProduction)="onProductionDone($event)"
                [qtmulti]="qtMulti" [moneyWorld]="world.money"></app-product>
    <app-product [prod]="world.products.product[1]"
                class="product col-md-6" (notifyProduction)="onProductionDone($event)"
                  [qtmulti]="qtMulti" [moneyWorld]="world.money"></app-product>
    <app-product [prod]="world.products.product[2]"
                class="product col-md-6" (notifyProduction)="onProductionDone($event)"
                [qtmulti]="qtMulti" [moneyWorld]="world.money"></app-product>
    <app-product [prod]="world.products.product[3]"
                class="product col-md-6" (notifyProduction)="onProductionDone($event)"
                [qtmulti]="qtMulti" [moneyWorld]="world.money"></app-product>
    <app-product [prod]="world.products.product[4]"
                class="product col-md-6" (notifyProduction)="onProductionDone($event)"
                [qtmulti]="qtMulti" [moneyWorld]="world.money"></app-product>
    <app-product [prod]="world.products.product[5]"
                class="product col-md-6" (notifyProduction)="onProductionDone($event)"
                [qtmulti]="qtMulti" [moneyWorld]="world.money"></app-product>
  </div>-->
  </div>
</div>


