<div>
  <span id="id"> {{product.id}} </span>
  <span id="name"> {{product.name}}</span>
  <span id="logo" (click)="startFabrication()"><img [attr.src]="server+product.logo" /></span>
  <span id="cout"> {{product.cout}} </span>
  <span id="croissance"> {{product.croissance}} </span>
  <span id="revenu"> {{product.revenu}} </span>
  <span id="vitesse"> {{product.vitesse}} </span>
  <span id="quantite"> {{product.quantite}} </span>
  <span id="timeleft"> {{product.timeleft}} </span>
  <span>Je suis un produit</span>
</div>
<br>
<mat-progress-bar class="progressbar" [value]="progressBarValue"></mat-progress-bar>
<button type="button" name="buttonBuy" (click)="buyProduct()">Buy</button>
