.progressbar{
  height: 30px;
  background-color: #36697F;
}

/*notre img est deja ronde*/
img{
  width: 150px;
  height: 150px;
}

button{
  position: relative;
  z-index: 1;
  background-color: transparent;
  border: transparent;
  height: 30px;
  top: -30px;
}

.text-rose{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.105em;
  color: #D57BB4;
  font-size: large;
}

.text-jaune{
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: 0.105em;
  color: #F2C448;
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.style-quantite{
  background-color: #F2C448;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: 0.105em;
  color: #D57BB4;
  text-align: center;
  padding: 3px 30px;
  top: -20px;
  position: relative;
  font-size: large;
  }